.title {
    font-family: Arial, sans-serif;
    font-size: 40px;
    position: relative;
    left: 300px;

}
textarea {
    width: 900px;
    height: 200px;
    position: relative;
    left: 40px;
}

textarea.flag-america {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg');
    background-size: cover;
    background-position: center;

}
button {
    background-color: coral;
    position: relative;
    top: 50px;
    right: 800px;
    width: 120px;
    height: 40px;
    border-style: dashed;
}
button:hover {background-color:chocolate}

button:active {
    background-color: chocolate;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}